importThemeFile(getFilename(), $theme);
$backgroundColor = $color-white;
$borderColor = $color-border;
$borderRadius = $border-radius-m;
$borderWidth = 1px;
$boxShadow = $box-shadow-close;
$lineHeight = $line-height;
$padding = .8rem 0;
$itemPadding = .2em 1.4em;
$headerColor = $color-text-body;
$headerFontSize = $font-size;
$headerFontWeight = $font-weight-semibold;
$linkColor = $color-text-body;
$hoverLinkColor = $color-base;

.dropdown
    position: relative;
    display: inline-block;

    .menu
        absolute: top 2rem left 0;
        z-index: 800;
        display: none;
        padding: $padding;
        min-width: 13rem;
        border: $borderWidth solid $borderColor;
        border-radius: $borderRadius;
        background-color: $backgroundColor;
        box-shadow: $boxShadow;

        li, a
            display: block;
            line-height: $lineHeight;

        li
            padding: $itemPadding;

            &.header
                color: $headerColor;
                font-weight: $headerFontWeight;
                font-size: $headerFontSize;

        a
            color: $linkColor;
            cursor: pointer;

            &:hover
                color: $hoverLinkColor;

    &.open
        .menu
            display: block;

    &.floating
        .menu
            margin-top: 1rem;

    &.right
        .menu
            right: 0;
            left: auto;

    &.upward
        .menu
            top: auto;
            bottom: 2rem;
