importThemeFile(getFilename(), $theme);
$backgroundColor = $color-white;
$borderRadius = $borderRadius-m;
$borderWidth = 1px;
$border-color = $bg-color-gray;
$textColor = $color-text-body;
$fontSize = $font-size;
$fontWeight = $font-weight-bold;
$lineHeight = $line-height;
$padding = .66em .86em;

.button
    position: relative;
    display: inline-block;
    padding: $padding;
    outline: 0;
    border: 0;
    border: $borderWidth solid $border-color;
    border-radius: $borderRadius;
    background-color: $backgroundColor;
    color: $textColor;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    cursor: pointer;
    transition: box-shadow $animation-duration-m $animation-type-ease;

    &:hover
        box-shadow: inset 0 -2px 0 rgba(0, 0, 31, .1);
        color: inherit;

    +disabled()
        border-color: @background-color;
        background-color: $backgroundColor !important;
        color: $color !important;
        user-select: none;

    for size in $generic-sizes
        &.{size}
            font-size: lookup('$font-size-' + size);

    for color in $colors
        &.{color}
            border: $borderWidth solid @background-color;
            background-color: lookup('$color-' + color);
            color: $color-white;
