importThemeFile(getFilename(), $theme);
$backgroundColor = $color-grey-light;
$padding = 1rem 3rem;
$itemLineHeight = $line-height;
$hoverTextColor = $textColorBody;
$activeTextColor = $colorBase;
$itemColor = $textColorLight;
$itemFontWeight = $font-weight-semibold;
$itemMargin = 0 0 0 2rem;

.menu
    &.basic
        padding: $padding;
        background-color: $backgroundColor;

        .item
            color: $itemColor;
            font-weight: $itemFontWeight;
            line-height: $itemLineHeight;

            & + .item
                margin: $itemMargin;

            &:hover
                color: $hoverTextColor;

            &.active
                color: $activeTextColor;
