importThemeFile(getFilename(), $theme);
$backgroundColor = $color-white;
$borderColor = $color-border;
$focusBorderColor = $color-base;
$borderRadius = $border-radius-m;
$borderWidth = 1px;
$textCcolor = $color-text-body;
$disabledTextColor = $color-text-muted;
$boxShadow = $box-shadow-form;
$padding = 14px 18px;
$inputTransition = $animation-type-ease $animation-duration-m;

.input
    font-style: normal;
    position: relative;

    input[type='text'], input[type='number'], input[type='password'], textarea
        background-color: $backgroundColor;
        border: 0;
        border: $borderWidth solid $borderColor;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        color: $textCcolor;
        font-family: $font-family-standard;
        font-size: $font-size;
        line-height: $line-height;
        min-width: 220px;
        outline: 0;
        padding: $padding;
        text-align: left;
        transition: border-color $inputTransition;

        &:focus
            border-color: $focusBorderColor;

        +inputPlaceholder()
            color: $disabledTextColor;

    &.transparent
        input[type='text'], input[type='number'], input[type='password'], textarea
            background-color: transparent;
            border: 0;
            margin: 0;
            padding: 0;

    +disabled()
        input[type='text'], input[type='number'], input[type='password'], textarea
            color: $disabledTextColor;

    textarea
        max-height: 12rem;
        min-height: 8rem;
        resize: vertical;
