importThemeFile(getFilename(), $theme);
$backgroundColor = $color-border;
$borderRadius = $border-radius-m;
$height = 1.6rem;
$barBorderRadius = $borderRadius;
$barBackgroundColor = darken($backgroundColor, 76%);
$statusColor = $color-white;
$statusFontSize = $font-size-small;
$statusFontWeight = $font-weight-bold;
$statusLineHeight = $height;

styleSized(size)
    if (size == 'tiny')
        height: .26rem;

    if (size == 'small')
        height: .8rem;

    if (size == 'large')
        height: 2.8rem;

        .status
            font-size: $font-size;
            line-height: 2.8rem;

.progress
    cf();

    background-color: $backgroundColor;
    border-radius: $borderRadius;
    content: '';
    height: $height;

    .bar
        background-color: $barBackgroundColor;
        border-radius: $barBorderRadius;
        height: 100%;
        position: relative;
        width: 0;

        .status
            absolute: right .6rem;
            color: $statusColor;
            display: none;
            font-size: $statusFontSize;
            font-weight: $statusFontWeight;
            line-height: $statusLineHeight;

    &.tiny
        styleSized('tiny');

    &.small
        styleSized('small');

    &.large
        styleSized('large');

    &:not(.tiny):not(.small)
        .bar.show
            .status
                display: block;
