importThemeFile(getFilename(), $theme);
$stripedBackgroundColor = $color-grey-light;
$borderColor = $colorBorder;
$borderWidth = 1px;

.table
    border: $borderWidth solid $borderColor;
    border-collapse: separate;
    border-radius: $border-radius;

    th
        padding: .5em 1em;
        border-bottom: $borderWidth solid $borderColor;
        font-weight: $fontWeightSemibold;

    td
        padding: .5em 1em;
        border-bottom: $borderWidth solid $borderColor;

    &:last-child td
        border-bottom: 0;

    &.basic
        border: 0;

        th, tr
            background-color: transparent;

    &.cells
        th, tr td
            border-left: $borderWidth solid $borderColor;

            &:first-child
                border-left: 0;

    &.simple
        th
            background-color: transparent;

    &.striped
        tr
            &:nth-child(2n)
                background-color: $stripedBackgroundColor;
